<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true" cacheDirectory=".phpunit.cache">
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[total]=0"/>
    </php>

    <testsuites>
        <testsuite name="FMTinyMCEBundle test suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
